*{
    margin: 0px;
    padding: 0px;
}
.body{
    padding: 0;
}
.p1{
    background-image: url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/680a5c4bb828559da16b70e3/568min.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    height: 830px;
    font-family: Oswald, sans-serif;
}
.p1 h2{
    color: white;
    font-size: 30px;    
    float: left;
    margin-top: 30px;
    margin-left: 300px;
}
.p1 h1{
    color: white;
    font-size: 100px;    
    float: left;
    margin-top: 400px;
    margin-left: 150px;
}
.about img{
    height: 820px;
    width: 50%;
}
.p2{
    font-family: Oswald, sans-serif;
}
.box h5{
    float: right;
    margin-top: -50px;
    margin-right: 700px;
    color: #61d4e7;
    font-size: 25px;
}
.box h1{
    margin-top: -600px;
    margin-left: 1000px;
    font-size: 50px;
}
.box p{
    text-align: left;
    margin-left: 1000px;
    font-family: 'Open Sans', sans-serif;
    word-spacing: 5px;
    margin-top: 40px;
} 
.box button{
    height: 40px;
    width: 150px;
    font-weight: bold;
    margin-left: 1000px;
    margin-top: 100px;
    letter-spacing: 1px;
    border-width: 3px;
    border-color:  #61d4e7;
    background-color: transparent;
}
.p3{
    font-family: Oswald, sans-serif;
}
.feature img{
    padding: 0;
    height: 700px;
    width: 50%;
    float: right;
}
.feat h5{
    padding: 0;
    margin-top: 160px;
    margin-left: 200px ;
    color: #f6d427;
    font-size: 25px;
}
.feat h1{
    text-align: left;
    margin-top: 150px;
    margin-left: 200px;
    font-size: 50px;
    }
.feat p{
    text-align: left;
    margin-left: 200px;
    font-family: 'Open Sans', sans-serif;
    word-spacing: 5px;
    margin-top: 40px;
}
.feat button{
    height: 40px;
    width: 150px;
    font-weight: bold;
    margin-left: 200px;
    margin-top: 50px;
    letter-spacing: 1px;
    border-width: 3px;
    border-color: #f6d427;
    background-color: transparent;
}
.p4{
    font-family: Oswald, sans-serif;
}
.digital img{
    height: 750px;
    width: 50%;
    margin-top: 150px;
}
.digi h5{
    float: right;
    margin-top: 30px;
    margin-right: 700px;
    color: #ed92ae;
    font-size: 25px;
}
.digi h1{
    margin-top: -600px;
    margin-left: 1000px;
    font-size: 50px;
}
.digi p{
    text-align: left;
    margin-left: 1000px;
    font-family: 'Open Sans', sans-serif;
    word-spacing: 5px;
    margin-top: 40px;
}
.digi button{
    height: 40px;
    width: 150px;
    font-weight: bold;
    margin-left: 1000px;
    margin-top: 100px;
    letter-spacing: 1px;
    border-width: 3px;
    border-color:  #ed92ae;
    background-color: transparent;
}
.footer{
    margin-top: 130px;
    background-image: url(image.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    height: 830px;
    font-family: Oswald, sans-serif;
}
.form h1{
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: Oswald, sans-serif;
    padding-top: 80px;
    padding-bottom: 20px;
}
.submit{
    box-sizing: border-box;
    margin-left: 700px;
   
}
.submit input{
    align-items: center;
    text-align: center;
    background-color: transparent;
    height: 35px;
    width: 500px;
    border-color: white; 
    border-width: 4px;
    margin-bottom: 20px;
}
.submit textarea{
    text-align: center;
    background-color: transparent;
    height: 70px;
    width: 500px;
    border-color: white; 
    border-width: 4px;
}
.sample{
    background-color: rgb(53, 51, 51);
    font-family: 'Open Sans', sans-serif;
}
.form button{
    height: 40px;
    width: 100px;
    align-items: center;
    background-color: transparent;
    font-size: 20px;
    border-color: white;
    margin-left: 200px;
    margin-top: 30px;
}
.sample p{
    text-align: center;
    margin-top:300px;
    color: white;
    padding: 20px;
}
.sample h5{
    color:white;
    margin-top: 70px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    word-spacing: 4px;
    letter-spacing: 2px;
    padding-bottom: 10px;
}